<div class="flex justify-center items-center min-h-screen mx-auto max-w-2xl px-4 py-16 sm:px-6 sm:py-24 lg:max-w-7xl lg:px-8">
    <div class="bg-white rounded-lg overflow-hidden shadow-lg ring-4 ring-red-500 ring-opacity-40 max-w-sm">
        <div class="relative">
            <img class="w-full" src="{{product?.image}}" alt="{{product?.title}}">
            <div class="absolute top-0 right-0 text-white px-2 py-1 m-2 rounded-md text-sm font-medium"
                [ngClass]="{
                    'bg-red-500': (product?.rating?.rate ?? 0) >= 0 && (product?.rating?.rate ?? 0) < 2,
                    'bg-orange-500': (product?.rating?.rate ?? 0) >= 2 && (product?.rating?.rate ?? 0) < 4,
                    'bg-green-500': (product?.rating?.rate ?? 0) >= 4 }">
                {{ product?.rating?.rate ?? 'N/A' }}
            </div>
          
        </div>
        <div class="p-4">
            <h3 class="text-lg font-medium mb-2">{{product?.title}}</h3>
            <p class="text-gray-600 text-sm mb-4">{{product?.description}}</p>
            <div class="flex items-center justify-between">
                <span class="font-bold text-lg">{{product?.price | currency: "USD"}}</span>
                <button
                (click)="addToCart(product)" 
                class="bg-blue-500 hover:bg-blue-600 text-white font-bold py-2 px-4 rounded">
                    Add to cart
                </button>
            </div>
        </div>
        <div class="p-4 flex items-center justify-left gap-2">
            <a routerLink="/product-details" class="inline-flex items-center gap-2 text-sm font-medium text-primary-700 underline hover:no-underline dark:text-primary-500">
              Continue Shopping
              <svg class="h-5 w-5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24">
                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 12H5m14 0-4 4m4-4-4-4" />
              </svg>
            </a>
        </div>
    </div>
</div>
