<div class="flex justify-center items-center min-h-screen">
    <div class="border border-gray-300 rounded-lg p-4 shadow-md max-w-sm w-full">
        <div class="relative">
            <img class="w-full" src="{{product?.image}}" alt="{{product?.title}}">
            <div class="absolute top-0 right-0 text-white px-2 py-1 m-2 rounded-md text-sm font-medium"
                [ngClass]="{
                    'bg-red-500': (product?.rating?.rate ?? 0) >= 0 && (product?.rating?.rate ?? 0) < 2,
                    'bg-orange-500': (product?.rating?.rate ?? 0) >= 2 && (product?.rating?.rate ?? 0) < 4,
                    'bg-green-500': (product?.rating?.rate ?? 0) >= 4 }">
                {{ product?.rating?.rate ?? 'N/A' }}
            </div>
        </div>
        <div class="p-4">
            <h3 class="text-lg font-medium mb-2">{{product?.title}}</h3>
            <p class="text-gray-600 text-sm mb-4">{{product?.description}}</p>
            <div class="flex items-center justify-between">
                <span class="font-bold text-lg">{{product?.price | currency: "USD"}}</span>
                <button
                    (click)="addToCart(product)" 
                    class="bg-blue-500 hover:bg-blue-600 text-white font-bold py-2 px-4 rounded">
                    Add to cart
                </button>
                <div (click)="addToWishList(product)" class="cursor-pointer absolute inset-y-0 right-0 flex items-center pr-2 sm:static sm:inset-auto sm:ml-6 sm:pr-0">
                    <svg [ngClass]="{'text-blue-500': inWishList, 'text-black': !inWishList}" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 24 24" class="float-end w-6 h-6 group-hover:text-red-500 transition-colors duration-300">
                      <path d="M12 21.35l-1.45-1.32C5.4 15.36 2 12.28 2 8.5 2 5.42 4.42 3 7.5 3c1.74 0 3.41.81 4.5 2.09C13.09 3.81 14.76 3 16.5 3 19.58 3 22 5.42 22 8.5c0 3.78-3.4 6.86-8.55 11.54L12 21.35z"/>
                    </svg>
                </div>
            </div>
        </div>
        <div class="p-4 flex items-center justify-left gap-2">
            <a routerLink="/product-details" class="inline-flex items-center gap-2 text-sm font-medium text-primary-700 underline hover:no-underline dark:text-primary-500">
              Continue Shopping
              <svg class="h-5 w-5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24">
                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 12H5m14 0-4 4m4-4-4-4" />
              </svg>
            </a>
        </div>
    </div>

    <div *ngIf="showNotification" class="fixed bottom-4 right-4 bg-card shadow-lg rounded-lg p-4 animate-slide-up">
        <p class="text-foreground" *ngIf="inWishList">Item added to wishlist</p>
        <p class="text-foreground" *ngIf="!inWishList">Item removed from wishlist</p>
    </div>
</div>

