<div class="relative inline-block text-left">
    <div>
      <button (click)="toggleDropdown()" type="button" class="inline-flex justify-center w-full rounded-md border border-gray-300 shadow-sm px-4 py-2 bg-white text-sm font-medium text-gray-700 hover:bg-gray-50 focus:outline-none">
        {{ selectedSort === 'price-asc' ? 'Price: Low to High' : '' }}
        {{ selectedSort === 'price-desc' ? 'Price: High to Low' : '' }}
        {{ selectedSort === 'name-asc' ? 'Name: A-Z' : '' }}
        {{ selectedSort === 'name-desc' ? 'Name: Z-A' : '' }}
        {{ selectedSort === 'rating-asc' ? 'Rating: Low to High' : '' }}
        {{ selectedSort === 'rating-desc' ? 'Rating: High to Low' : '' }}
        <svg class="-mr-1 ml-2 h-5 w-5" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
          <path fill-rule="evenodd" d="M5.23 7.21a.75.75 0 011.06 0L10 10.94l3.71-3.73a.75.75 0 011.06 1.06l-4 4a.75.75 0 01-1.06 0l-4-4a.75.75 0 010-1.06z" clip-rule="evenodd" />
        </svg>
      </button>
    </div>
  
    <div *ngIf="dropdownOpen" class="origin-top-right absolute right-0 mt-2 w-56 rounded-md shadow-lg bg-white ring-1 ring-black ring-opacity-5 focus:outline-none z-50">
        <div class="py-1">
          <a (click)="onSortSelected('price-desc')" class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100">Price: High to Low</a>
          <a (click)="onSortSelected('price-asc')" class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100">Price: Low to High</a>
          <a (click)="onSortSelected('name-asc')" class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100">Name: A-Z</a>
          <a (click)="onSortSelected('name-desc')" class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100">Name: Z-A</a>
          <a (click)="onSortSelected('rating-asc')" class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100">Rating: Low to High</a>
          <a (click)="onSortSelected('rating-desc')" class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100">Rating: High to Low</a>
        </div>
    </div>
</div>
  